root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[gradlew]
end_of_line = lf

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard = enabled
ktlint_experimental = disabled
ktlint_custom-rule-set = disabled
ktlint_standard_filename = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_max-line-length = 150
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_blank-line-between-when-conditions = disabled
ktlint_standard_when-entry-bracing = disabled
ktlint_standard_class-signature = disabled
