<div class="row section">

    {# Mute role #}
    <div class="input-field col s12 m3">
        <select id="muteRole" name="muteRole" {#onchange="checkSelect(this.id, 'autoRoleRoleCB');"#}>
            <option value="" selected disabled>Select a role</option>
            {% for role in goodRoles %}
                {% if settings.getMuteRoleId() == role.getIdLong() %}
                    <option value="{{ role.getIdLong() }}" selected>@{{ role.getName() }}</option>
                {% else %}
                    <option value="{{ role.getIdLong() }}">@{{ role.getName() }}</option>
                {% endif %}
            {% endfor %}
            <option value="">Disable</option>
        </select>
        <label for="muteRole">Mute role</label>
    </div>

    {# Kick mode #}
    <div class="input-field col s12 m4">

        <div class="switch">
            Toggle spam filter:
            <label>
                Disabled
                <input type="checkbox" name="spamFilter" id=""
                       {% if settings.isEnableSpamFilter() %}checked="checked"{% endif %}>
                <span class="lever"></span>
                Enabled
            </label>
        </div>

        <!-- Switch -->
        <div class="switch">
            Kick mode:
            <label>
                Mute members
                <input type="checkbox" name="kickMode" id="kickMode"
                       {% if settings.getKickState() %}checked="checked"{% endif %}>
                <span class="lever"></span>
                Kick members
            </label>
        </div>
    </div>
</div>
