<div class="row section">
    <div class="col s12">
        <h5>Warn actions:</h5>
        <p>The following settings determine what actions the bot take when a user reaches a set amount of warnings</p>
        <p>Temp bans are in days and temp mutes are in minutes</p>

        <div class="row">
            <div class="col s12">
                <button id="add_warn_action" type="button" class="btn btn-primary">add action</button>
                <ul id="actions">
                    <!-- Items to be placed here -->
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    const warnActions = $settings.getWarnActions();
    const warnActionTypes = $warnActionTypes;
    const maxActions = #if($guild_patron)$patronMaxWarnActions#{else}1#{end};
</script>

#[[
<script>
    function checkTempDuration(element) {
        const theId = `tempDays${element.id.replace(/[^0-9]/g, '')}`;
        const theDiv = id(theId).parentNode.parentNode;
        const isTemp = element.value.startsWith('TEMP');

        theDiv.style.display = isTemp ? 'block' : 'none';
    }
</script>
]]#
