# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
    build:
        docker:
            # specify the version you desire here
            - image: circleci/openjdk:11-jdk

            # Specify service dependencies here if necessary
            # CircleCI maintains a library of pre-built images
            # documented at https://circleci.com/docs/2.0/circleci-images/
            # - image: circleci/postgres:9.4

        working_directory: ~/repo

        environment:
            # Customize the JVM maximum heap limit
            JVM_OPTS: -Xmx3200m
            TERM: dumb

        steps:
            - checkout

            # Download and cache dependencies
            - restore_cache:
                  keys:
                      - v1-dependencies-{{ checksum "build.gradle.kts" }}
                      # fallback to using the latest cache if no exact match is found
                      - v1-dependencies-

            - run:
                  name: "Get dependencies"
                  command: ./gradlew dependencies

            - save_cache:
                  paths:
                      - ~/.gradle
                  key: v1-dependencies-{{ checksum "build.gradle.kts" }}

            - run:
                name: "\"test\""
                command: ./gradlew test

            - run:
                  name: "Build bot"
                  command: ./gradlew build

            # run tests!
            #      - run: ./gradlew test


            - persist_to_workspace:
                  root: ./
                  paths:
                      - ./



    deploy:
        docker:
            # specify the version you desire here
            - image: circleci/openjdk:11-jdk

            # Specify service dependencies here if necessary
            # CircleCI maintains a library of pre-built images
            # documented at https://circleci.com/docs/2.0/circleci-images/
            # - image: circleci/postgres:9.4

        working_directory: ~/repo

        environment:
            # Customize the JVM maximum heap limit
            JVM_OPTS: -Xmx3200m
            TERM: dumb

        steps:
            - attach_workspace:
                  at: ./

            - run:
                  name: "Upload to github if on master"
                  command: ./gradlew githubRelease;


workflows:
    version: 2
    build_and_test:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only: master
