#define ($styles)
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/addon/hint/show-hint.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/theme/monokai.min.css">
#end

#define ($content)
<div class="row">
    <h5>Selected guild: $guild.getName()</h5>
    <a href="/server/$guild.getIdLong()/">Go back</a>
</div>

<div class="row">

    <h6 class="left">Custom commands:</h6>

    <div class="right">

        <a href="#" class="btn btn-large waves-effect waves-light valign-wrapper"
           onclick="prepareCreateNew(); return false;"><i class="left tiny material-icons">add</i> Create new
            command</a>

    </div>

    <div class="clearfix"></div>
    <br/>

    <ul class="collection" id="commands">
        <p class="center flow-text">
            Loading...
            <br />
            <br />
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        </p>
    </ul>
</div>

<div class="row" id="editorRow" style="display: none">
    <br><br><br><br>
    <div class="col s12">
        <div class="card discord not-black">
            <div class="card-content white-text">
                <span id="prefix">$settings.getCustomPrefix()</span>
                <div class="input-field inline">
                    <input type="text" id="commandName" name="commandName" placeholder="" maxlength="25">
                    <label for="commandName">Command name:</label>
                </div>

                <p>Command content:</p>
                <textarea id="editor"></textarea>
            </div>
            <div class="card-action">
                <div class="right"><span id="chars">0</span>/4000</div>
                <br/>
                <div class="switch right">
                    <label>
                        <input type="checkbox" name="autoresponse" id="autoresponse">
                        <span class="lever"></span>
                        <abbr class="white-text"
                              title="Autoresponses are being called when the name of the custom command appears in a message">Autoresponse</abbr>
                    </label>
                </div>

                <p>Need help with the JagTag syntax? <a href="https://github.com/DuncteBot/SkyBot/wiki/JagTag"
                                                        target="_blank">Click here!</a></p>
                <a href="javascript:saveEdit();" id="saveBtn"
                   class="waves-effect waves-green btn green white-text">Save</a>
                <a href="javascript:clearEditor();"
                   class="waves-effect waves-red btn red white-text">Discard</a>
            </div>
        </div>
    </div>
</div>
#end

#define ($scripts)
<!-- Gotta love Internet Explorer-->
<!-- But discord doesn't work on IE11 so why bother -->
<!-- <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=es6%2CJSON%2CPromise%2Cfetch"></script> -->

<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/javascript/javascript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/addon/mode/simple.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/addon/hint/show-hint.min.js"></script>
<script src="/js/hinting.js?v=2"></script>
<script src="/js/customCommands.js?v=2"></script>
<script src="/js/wordlist.js"></script>
<script>
    window.guildId = "$guild.getIdLong()";
    window.prefix = "$settings.getCustomPrefix()";
    initModal();
    initEitor();
    loadCommands();
</script>
#end

#parse('/views/templates/base.vm')
