{% extends '../templates/base.twig' %}

{% block container %}

    {% if message %}
        <div class="row col s5">
            <div>{{ message | raw }}</div>
        </div>
    {% endif %}
    <div class="row">
        <h5>Selected guild: {{ guild.getName() }}</h5>
        <a href="/server/{{ guild.getIdLong() }}/">Go back</a>
    </div>


    <div class="row">
        <h6>Custom commands:</h6> <br/>

        <ul class="collection" id="commands">
            <p class="center flow-text">Loading...</p>
        </ul>

    </div>


    <div id="commandModal" class="modal dark">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <div id="editor"></div>
        </div>
        <div class="modal-footer dark">
            <a href="#" onclick="return false;"
               class="modal-close waves-effect waves-green btn green white-text">Save</a>
            <a href="#" onclick="clearEditor(); return false;"
               class="modal-close waves-effect waves-red btn red white-text">Discard</a>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="/js/customCommands.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script src="/js/ace/ext-language_tools.js"></script>
    <script src="/js/wordlist.js"></script>
    <script>
        // Load modules
        initModal();
        initEitor();
        loadCommands("{{ guild.getIdLong() }}");
    </script>
{% endblock %}
