{% extends '../templates/base.twig' %}

{% block main %}
    <style>
        img {
            height: 200px !important;
            width: 200px !important;
            max-width: 200px !important;
            clip: rect(0px, 100px, 200px, 0px);
            position: absolute !important;
        }

        .card-image {
            width: 100px !important;
            overflow: hidden;
        }
    </style>

    <div class="row"></div>
    <div class="row" id="guilds">
        <div class="col center s4 offset-s4">
            <h1 class="center">
            Loading...
                <br />
                <br />
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </h1>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="/js/dashboard.js"></script>
{% endblock %}
