{% extends '../templates/base.twig' %}

{% block main %}
    <style>
        img {
            height: 200px !important;
            width: 200px !important;
            max-width: 200px !important;
            clip: rect(0px, 100px, 200px, 0px);
            position: absolute !important;
        }

        .card-image {
            width: 100px !important;
            overflow: hidden;
        }
    </style>

    <div class="row"></div>
    <div class="row" id="guilds">
        <h1 class="center">Loading...</h1>
    </div>

{% endblock %}
{% block script %}
    <script>
        fetch("/api/getUserGuilds", {
            credentials: "same-origin"
        })
            .then(response => response.json())
            .then(json => {

                const div = document.getElementById("guilds");

                if (json.status === "error") {

                    div.innerHTML = `<h1 class="center">Session not valid</h1>
                              <h5 class="center">Please refresh your browser</h5>`;

                    return;
                }

                if (json.guilds.length < 0) {

                    div.innerHTML = `<h1 class="center">No servers found</h1>
                              <h5 class="center">Make sure that you have administrator permission in at least 1 server</h5>`;

                    return;
                }

                div.innerHTML = "";
                for (let guild of json.guilds) {
                    let members = "Bot not in server";
                    if (guild.members) {
                        members = guild.members + " members";
                    }

                    div.innerHTML += `<div class="col s12 m6 l4 xl3">
                            <div class="card horizontal hoverable">
                                <div class="card-image">
                                    <img src="${guild.iconUrl}?size=256">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h6 class="truncate">${guild.name}</h6>
                                        <p>${members}</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/server/${guild.id}/">Edit settings</a>
                                        <a href="https://discordapp.com/oauth2/authorize?client_id=210363111729790977&scope=bot&permissions=-1&guild_id=${guild.id}"
                                         target="_blank">Invite Bot</a>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                }

            })
            .catch(() =>
                document.getElementById("guilds").innerHTML = "Your session has expired, please refresh your browser"
            );
    </script>
{% endblock %}
