#define ($content)
<div class="row">
    <h5>Selected guild: $guild.getName()</h5>
    <a href="/server/$guild.getIdLong()/">Go back</a>
</div>
<div class="row">
    <form class="col s12" method="post">
        ## Spam filter
        #parse('/views/dashboard/includes/moderation/modlogAndSwitches.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/muteAndKick.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/spamLimits.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/warnActions.vm')

        <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
            Save
        </button>
    </form>
</div>
#end

#define ($scripts)
<script>
    window.isPatronGuild = $guild_patron;
</script>
    #if($guild_patron)
    <script src="/js/warnactions.js"></script>
    #else
    <script>
        function addWarnAction() {
            alert('Free servers only get one warn action\nWant more warn actions?\nConsider supporting the bot by making your server a patron server');
        }

        function removeWarnAction() {
            // wellllll
        }
    </script>
    #end
<script src="/js/moderation.js"></script>
#end

#parse('/views/templates/base.vm')
