#define ($content)
<div class="row">
    <h5>Selected guild: $guild.getName()</h5>
    <a href="/server/$guild.getIdLong()/">Go back</a>
</div>
<div class="row">
    <form class="col s12" method="post">
        ## Spam filter
        #parse('/views/dashboard/includes/moderation/modlogAndSwitches.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/muteAndKick.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/spamLimits.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/warnActions.vm')

        <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
            Save
        </button>
    </form>
</div>
#end

#define ($scripts)
<script src="/js/warnactions.js"></script>
    #if($guild_patron)
    <script>
        function addWarnAction() {
            if (actions.children.length + 1 > maxActions) {
                hide('add_warn_action');
                return;
            }

            const li = buildLi(null);

            actions.appendChild(li);

            M.FormSelect.init(li.querySelector('select'));
            M.updateTextFields();
        }

        function removeWarnAction(itemId) {
            id(getLiId(itemId)).remove();

            if (actions.children.length < maxActions) {
                unHide('add_warn_action');
            }
        }
    </script>
    #else
    <script>
        const addWarnAction = () => alert('Free servers only get one warn action\n' +
            'Want more warn actions?\n' +
            'Consider supporting the bot by making your server a patron server');
        const removeWarnAction = () => {};
    </script>
    #end
<script src="/js/moderation.js"></script>
#end

#parse('/views/templates/base.vm')
