#define ($styles)
    ## nothing
#end

#define ($content)
<div class="row">
    <h5>Selected guild: $guild.getName()</h5>
    <a href="/server/$guild.getIdLong()/">Go back</a>
</div>
<div class="row">
    <form class="col s12" method="post">
        ## Welcome and leave messages
        <div class="row section">
            <h6>Welcome and leave messages:</h6>

            <!-- Switch -->
            <div class="switch">
                State:
                <label>
                    Disabled
                    <input type="checkbox" name="welcomeChannelCB" id="welcomeChannelCB"
                           #if($settings.isEnableJoinMessage())checked="checked"#{end}>
                    <span class="lever"></span>
                    Enabled
                </label>
            </div>

            <br/>
            <div class="input-field col s12 m6">
                    <textarea id="welcomeMessage" name="welcomeMessage"
                              class="materialize-textarea">$settings.getCustomJoinMessage()</textarea>
                <label for="welcomeMessage">Welcome Message</label>
            </div>

            <div class="input-field col s12 m6">
                    <textarea id="leaveMessage" name="leaveMessage"
                              class="materialize-textarea">$settings.getCustomLeaveMessage()</textarea>
                <label for="leaveMessage">Leave Message</label>
            </div>
        </div>

        <div class="row">
            ## Welcome/Leave
            <div class="input-field col s12 m3">
                <select id="welcomeChannel" name="welcomeChannel"
                        onchange="checkSelect(this.id, 'welcomeChannelCB');">
                    <option value="" selected disabled>Select a channel</option>
                    #foreach($textChannel in $goodChannels)
                        #if($settings.getWelcomeLeaveChannel() == $textChannel.getIdLong())
                            <option value="$textChannel.getIdLong()" selected>#$textChannel.getName()</option>
                        #else
                            <option value="$textChannel.getIdLong()">#$textChannel.getName()</option>
                        #end
                    #end
                </select>
                <label for="welcomeChannel">Welcome/Leave Channel</label>
            </div>
        </div>


        <div class="row">
            <div class="divider"></div>
        </div>

        <div class="row section">
            <h6>Server description:</h6> <br/>
            <div class="input-field col s12 m6">
                    <textarea id="serverDescription" name="serverDescription"
                              class="materialize-textarea">$!{settings.getServerDesc()}</textarea>
                <label for="serverDescription">Server Description</label>
            </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
            Save
        </button>
    </form>
</div>
#end

#define ($scripts)
<script>
    M.FormSelect.init(document.querySelectorAll('select'));

    function checkSelect(selectId, checkBox) {
        let box = id(checkBox);
        let select = id(selectId);

        if (select.value) {
            box.checked = true;
            box.disabled = false;
        } else {
            box.checked = false;
            box.disabled = true;
        }
    }
</script>
#end

#parse('/views/templates/base.vm')
