## Other boolean flags
<div class="input-field col s12 m4">
    <div class="switch">
        Announce tracks:<br/>
        <label>
            Disabled
            <input type="checkbox" name="announceTracks" id=""
                   #if($settings.isAnnounceTracks())checked="checked"#{end}>
            <span class="lever"></span>
            Enabled
        </label>
    </div>

    <br/>

    <!-- Switch -->
    <div class="switch">
        Stop command behavior:<br/>
        <label>
            Default behavior
            <input type="checkbox" name="allowAllToStop" id="allowAllToStop"
                   #if($settings.isAllowAllToStop())checked="checked"#{end}>
            <span class="lever"></span>
            Allow all
        </label>
    </div>
</div>
