## Welcome/Leave
<div class="input-field col s12 m3">
    <select id="welcomeChannel" name="welcomeChannel"
            onchange="checkSelect(this.id, 'welcomeChannelCB');">
        <option value="" selected disabled>Select a channel</option>
        #foreach($textChannel in $goodChannels)
            #if($settings.getWelcomeLeaveChannel() == $textChannel.getIdLong())
                <option value="$textChannel.getIdLong()"
                        selected>#$textChannel.getName()</option>
            #else
                <option value="$textChannel.getIdLong()">#$textChannel.getName()</option>
            #end
        #end
    </select>
    <label for="welcomeChannel">Welcome/Leave Channel</label>
    <!-- Switch -->
    <div class="switch">
        State:
        <label>
            Disabled
            <input type="checkbox" name="welcomeChannelCB" id="welcomeChannelCB"
                   #if($settings.isEnableJoinMessage())checked="checked"#{end}>
            <span class="lever"></span>
            Enabled
        </label>
    </div>
</div>
