{% extends 'templates/base.twig' %}

{% block main %}
    <div class="row"></div>
    <div class="row">
        {% for i in [80,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17] %}
            <div class="col s12 m6 l4 xl3">
                <div class="card horizontal hoverable">
                    <div class="card-image">
                        <img src="http://lorempixel.com/100/200/nature/6/">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h5>Guild Name</h5>
                            <p>{{ i }} members</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Edit settings</a>
                            <a href="#">Invite Bot</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}