#define ($content)
<h1>List of roles for $guild_name</h1>
<table class="striped centered">
    <thead>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>Members with this role</th>
    </tr>
    </thead>
    <tbody>
        #foreach($role in $roles)
        <tr>
            <td>$role.getIdLong()</td>
            <td>$role.getName()</td>
            <td>$role.getMemberCount() Members</td>
        </tr>
        #end
    </tbody>
</table>
#end

#parse('/views/templates/base.vm')

