{% extends 'templates/base.twig' %}

{% block container %}

    {#<p>
        <label>
            <input type="checkbox" class="filled-in checkbox-green" checked="checked" />
            <span>Filled in</span>
        </label>
    </p>#}

    <label>
        <div id="" onclick="customCheckBoxClick(this)" class="valuebox3 state1"></div>
        <span></span></label>


    <div class="row">
        <div class="col m6 s12">
            <h1 class="bounceInLeft animated">DuncteBot</h1>
            <div{# style="overflow:hidden;"#}>
                <h5 class="animated bounceInUp">A multipurpose moderation bot for discord</h5>
                <div class="divider animated bounceInDown"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 delay-1 animated flipInX">
            <div class="center promo">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Super Fast</p>
                <p class="light center">We try our best to provide a fast bot with many unique features</p>
            </div>
        </div>

        <div class="col s12 m4 delay-2 animated flipInX">
            <div class="center promo">
                <i class="material-icons">speaker_group</i>
                <p class="promo-caption">High Quality Music</p>
                <p class="light center">On top of us supporting playing music from Spotify, we also make sure that we
                    provide the music from our high quality music servers</p>
            </div>
        </div>

        <div class="col s12 m4 delay-3 animated flipInX">
            <div class="center promo">
                <i class="material-icons">settings</i>
                <p class="promo-caption">Very Customisable</p>
                <p class="light center">Almost everything about the bot can be tweaked in the dashboard</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="divider"></div>
        <div class="center">
            <h3>Invite the bot today</h3>
            <a class="waves-effect waves-light btn-large blue darken-4 bg" href="/invite" target="_blank">Click Here</a>
        </div>
    </div>

    <script>
        function customCheckBoxClick(clicked) {
            id = parseInt(clicked.id.toString().charAt(0));
            code = parseInt(clicked.id.toString().substr(1));
            if (clicked.classList.contains("state0")) {
                clicked.classList.remove("state0");
                clicked.classList.add("state1");
            } else if (clicked.classList.contains("state1")) {
                clicked.classList.remove("state1");
                clicked.classList.add("state2");
            } else if (clicked.classList.contains("state2")) {
                clicked.classList.remove("state2");
                clicked.classList.add("state1");
            }
        }

    </script>

{% endblock %}

{#
function customCheckBoxClick(clicked) {
            id = parseInt(clicked.id.toString().charAt(0));
            code = parseInt(clicked.id.toString().substr(1));
            if (clicked.classList.contains("state0")) {
                clicked.classList.remove("state0");
                clicked.classList.add("state1");
            } else if (clicked.classList.contains("state1")) {
                clicked.classList.remove("state1");
                clicked.classList.add("state2");
            } else if (clicked.classList.contains("state2")) {
                clicked.classList.remove("state2");
                clicked.classList.add("state0");
            }
        }
#}