{% extends 'templates/base.twig' %}

{% block container %}

    <div class="row">
        <div class="col s6">
            <h1 class="bounceInLeft animated">DuncteBot</h1>
            <div style="overflow:hidden; ">
                <h5 class="animated bounceInUp">A multipurpose moderation bot for discord</h5>
                <div class="divider animated bounceInRight"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 delay-1 animated flipInX">
            <div class="center promo">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Super Fast</p>
                <p class="light center">We try our best to provide a fast bot with many unique features</p>
            </div>
        </div>

        <div class="col s12 m4 delay-2 animated flipInX">
            <div class="center promo">
                <i class="material-icons">speaker_group</i>
                <p class="promo-caption">High Quality Music</p>
                <p class="light center">On top of us supporting playing music from Spotify, we also make sure that we provide the music from our high quality music servers</p>
            </div>
        </div>

        <div class="col s12 m4 delay-3 animated flipInX">
            <div class="center promo">
                <i class="material-icons">settings</i>
                <p class="promo-caption">Very Customisable</p>
                <p class="light center">Almost everything about the bot can be tweaked in the dashboard</p>
            </div>
        </div>
    </div>

{% endblock %}