{% extends 'templates/base.twig' %}

{% block container %}
    <p>{"lastCommands":["help", "join", "play duncan"], "detailedReport":"","description":"dank meme","inv":"https://discord.gg/NKM9Xtk"}</p>
{% endblock %}