<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/favicon.ico" rel="apple-touch-icon" type="image/x-icon"/>
    <title>Live Server Count</title>
    <style>
        h1 {
            text-align: center;
            font-size: 20rem;
            margin: 0 auto;
        }
    </style>
</head>
<body id="body">
<h1 id="server_count">0</h1>

<script src="/js/countUp.js"></script>

<script>
    let options = {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.'
    };
    let counter = new CountUp('server_count', 0, 0, 0, 2, options);
    if (!counter.error) {
        counter.start();
    } else {
        console.error(counter.error);
    }
    //Load the server data every 10 seconds
    setInterval(read, 10000);

    function read() {
        fetch("/api/getServerCount")
            .then(r => r.json())
            .then(data => counter.update(data.server_count));
    }

    read();
</script>
</body>
</html>