# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build

on:
    push:
        branches:
            - master

jobs:
    build:
        env:
            CI: true
            SENTRY_ORG: duncte123
            SENTRY_PROJECT: dunctebot

        runs-on: ubuntu-18.04

        steps:
            - uses: actions/checkout@v2.3.4
              with:
                  path: './'
            - name: Set up java
              uses: actions/setup-java@v1.4.3
              with:
                  java-version: 11
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
            - name: Grant execute permission for sentry
              run: chmod +x ./.github/sentry.sh
            - name: dependencies
              run: ./gradlew --no-daemon dependencies
            - name: Lint code
              run: ./gradlew --no-daemon lintAll
            - name: Build with Gradle
              run: ./gradlew --no-daemon build
            - name: Release sentry
              env:
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              run: ./.github/sentry.sh
            - name: Release bot
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: ./gradlew --no-daemon githubRelease
